<nav class="ui stackable menu">
  <header class="ui header item"> <a href="/"> Clothing Store Front </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard">Collection</a>
    <a id="about" class="item" href="/contact">About</a>  <!-- contact page now acts as about -->
    <a id="contact" class="item" href="/about">Collection</a> <!-- former about link now collection -->
  </div>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
