<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clothing Store Dashboard</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to My Clothing Store</h1>
  </header>
  
  <main>
    <div id="products-container" class="products-grid"></div>
  </main>

  <script src="js/main.js"></script>
</body>
</html>